<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>WMWifiStateViewController</string>
		<key>icon</key>
		<string>device_wifistate</string>
		<key>name</key>
		<string>无线状态</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMApManageViewController</string>
		<key>icon</key>
		<string>device_apmanage</string>
		<key>name</key>
		<string>AP管理</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMWifiViewController</string>
		<key>icon</key>
		<string>device_wifi</string>
		<key>name</key>
		<string>无线网络</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMAuthViewController</string>
		<key>icon</key>
		<string>device_auth</string>
		<key>name</key>
		<string>认证授权</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMSearchViewController</string>
		<key>icon</key>
		<string>device_search</string>
		<key>name</key>
		<string>搜索分析</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMCustomViewController</string>
		<key>icon</key>
		<string>device_custom</string>
		<key>name</key>
		<string>客流分析</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMAdViewController</string>
		<key>icon</key>
		<string>device_ad</string>
		<key>name</key>
		<string>推广统计</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMWechatViewController</string>
		<key>icon</key>
		<string>device_wechat</string>
		<key>name</key>
		<string>微信访客</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>WMSmsViewController</string>
		<key>icon</key>
		<string>device_sms</string>
		<key>name</key>
		<string>短信访客</string>
	</dict>
</array>
</plist>
