<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>timeRange</key>
		<string>flow</string>
		<key>opr</key>
		<string>getUserFlowTrend</string>
		<key>title</key>
		<string>累计到店</string>
		<key>icon</key>
		<string>tj1</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>addUser</string>
		<key>opr</key>
		<string>getNewUserTrend</string>
		<key>title</key>
		<string>首次到店</string>
		<key>icon</key>
		<string>tj2</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>register</string>
		<key>opr</key>
		<string>getRegisterUserTrend</string>
		<key>title</key>
		<string>新登记用户</string>
		<key>icon</key>
		<string>tj3</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>disconnect</string>
		<key>opr</key>
		<string>getDisconnectUserTrend</string>
		<key>title</key>
		<string>未入店用户</string>
		<key>icon</key>
		<string>tj4</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>insert</string>
		<key>opr</key>
		<string>getStatUserTrend</string>
		<key>title</key>
		<string>接入用户数</string>
		<key>icon</key>
		<string>tj5</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>nofirst</string>
		<key>opr</key>
		<string>getOldUserTrend</string>
		<key>title</key>
		<string>非首次到店</string>
		<key>icon</key>
		<string>tj6</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>enter_user_pct</string>
		<key>opr</key>
		<string>getEnterUserPctTrend</string>
		<key>title</key>
		<string>进店率</string>
		<key>icon</key>
		<string>tj7</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>back</string>
		<key>opr</key>
		<string>getUserTurnBackTrend</string>
		<key>title</key>
		<string>返店率</string>
		<key>icon</key>
		<string>tj8</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>average</string>
		<key>opr</key>
		<string>getUserStayTimeTrend</string>
		<key>title</key>
		<string>驻留时间</string>
		<key>icon</key>
		<string>tj9</string>
	</dict>
	<dict>
		<key>timeRange</key>
		<string>terminal</string>
		<key>opr</key>
		<string>getStatTypePie</string>
		<key>title</key>
		<string>终端类型</string>
		<key>icon</key>
		<string>tj10</string>
	</dict>
</array>
</plist>
